{% extends  'blog/index.html' %}
{% block title %} Список постов {% endblock title %}

{% block content %}
<h1>Posts:</h1>
{% for post in posts %}
<div class="card">
    <div class="card-header">
        {{ post.publish_date }}
    </div>
    <div class="card-body">
      <h5 class="card-title"><a href="{% url 'post_detail_url' slug=post.slug %}">{{ post.title }}</a></h5>
      <p class="card-text">{{ post.body }}</p>
      <a href="{% url 'post_detail_url' slug=post.slug %}" class="btn btn-primary">Детали</a>
    </div>
    <div class="card-footer text-muted">
        {{ post.slug }}
    </div>
  </div>
{% endfor %}
{% endblock %}